/* CSS Document */

/*

Colors:



Font-Families:


*/

*, *:after {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {

}

h2 {

}

img {
    float: left;
}

body {

}

table {

}

blockquote {

}